# TestRail credentials
TESTRAIL_URL=https://elabaswatson.testrail.io
TESTRAIL_USER=your_email@domain.com
TESTRAIL_API_KEY=your_testrail_api_key
TESTRAIL_PLAN_ID=63084

# Jira base URL (for building clickable links)
JIRA_BASE_URL=https://elab-aswatson.atlassian.net/browse
